---
import Layout from '../layouts/Layout.astro';
import '../styles/articles-layout.css';
import obsidian_homepage from '../assets/obsidian-homepage.jpeg';
import lab_guy from '../assets/lab-guy.jpeg';

---

<Layout title="Astro Test">
	<img src={obsidian_homepage.src} alt="My own homepage in Obsidian" id="obsidian-homepage">
	<article-desc id="notion-vs-obsidian">
		<h2><a href="posts/notion-vs-obsidian">Notion vs. Obsidian</a></h2>
		<p>Beginner-friendly "second brain" versus a haven for customization. Which should you try..?</p>
	</article-desc>

	<img src={lab_guy.src} alt="Man wearing face mask, safety goggles, and labcoat" id="lab-guy">
	<article-desc id="experiments">
		<h2><a href="posts/experiments">Experiments</a></h2>
		<p>In which Merlin does funny things with Markdown</p>
	</article-desc>
</Layout>

