---
import Layout from '../../layouts/Layout.astro';
import '../../styles/main.css';
import lab_guy from '../../assets/lab-guy.jpeg';
---

<Layout title="Experiments">
    <img src={lab_guy.src} alt="Man wearing safety googles, mask, and labcoat">
    <h3>Three Women</h3>
    <ol>
        <li>Ada Lovelace</li>
        <li>My housemate Clemence</li>
        <li>Godzilla from the 1998 movie</li>
    </ol>

</Layout>